# Игнорировать окружение виртуального окружения Python
venv/
# Игнорировать папки, созданные системами контроля версий
.git/
.svn/
# Игнорировать файл локальной базы данных — db.sqlite3
db.sqlite3
# Игнорировать папки, созданные системами контроля версий
.idea/
.vscode/
# Игнорировать файлы с переменными окружения
.env
# Игнорировать файлы и папки, временные файлы и каталоги
tmp*/
temp/
.cache/
temp.txt
# Игнорировать файлы и папки, созданные сборочными инструментами
node_modules/
build/
dist/
